<mat-grid-list cols="1" rowHeight='{{size.height}}'>
  <mat-card role="region">
    <mat-card-header>
      <img mat-card-avatar class="user-avatar"/>
      <mat-card-title>聪神不是神</mat-card-title>
      <mat-card-subtitle>2018/03/03</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card fxLayout="row" fxLayoutAlign="center center" >
    <mat-card-content>我的活动</mat-card-content>
  </mat-card>
  <mat-card fxLayout="row" fxLayoutAlign="center center" >
    <mat-card-content>我的推广</mat-card-content>
  </mat-card>
  <mat-card fxLayout="row" fxLayoutAlign="center center" >
    <mat-card-content>我的分享</mat-card-content>
  </mat-card>
  <mat-card fxLayout="row" fxLayoutAlign="center center" >
    <mat-card-content>我的分成</mat-card-content>
  </mat-card>
  <mat-card fxLayout="row" fxLayoutAlign="center center" >
    <mat-card-content>修改信息</mat-card-content>
  </mat-card>

</mat-grid-list>
