mat-grid-list{
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

