<mat-grid-list cols="1" rowHeight='{{height}}'>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="user-avatar"></div>
      <mat-card-title>聪神不是神</mat-card-title>
      <mat-card-subtitle>2018/03/03</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card-subtitle>我的活动</mat-card-subtitle>
  </mat-card>
  <mat-card fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card-subtitle>我的推广</mat-card-subtitle>
  </mat-card>
  <mat-card fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card-subtitle>我的分享</mat-card-subtitle>
  </mat-card>
  <mat-card fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card-subtitle>我的分成</mat-card-subtitle>
  </mat-card>
  <mat-card fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card-subtitle>修改信息</mat-card-subtitle>
  </mat-card>


</mat-grid-list>
