<mat-grid-list cols="1" rowHeight='{{size.height}}'>
  <mat-card>
    <mat-card-title>我的分享</mat-card-title>
  </mat-card>
  <mat-card [routerLink]="['../../qrcode',activity.UserActivity.id]"
            [queryParams]="{user:activity.UserActivity.spread_code}"
            *ngFor="let activity of userActivities">
    <mat-card-subtitle>{{activity.Activity.name}}</mat-card-subtitle>
    <mat-card-content>{{activity.Activity.comment}}</mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="joinFavorite(activity.UserActivity.id)">加入活动</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>

