<footer fxflexalign="center">
  <mat-tab-group  headerPosition="below" backgroundColor="primary" color="accent" mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>home</mat-icon>
        主页
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>favorite_border</mat-icon>
        收藏
      </ng-template>
    </mat-tab>
    <mat-tab label="我的">
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
        我的
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</footer>

