<mat-grid-list cols="1">
<mat-list role="list">
  <mat-list-item role="listitem"><mat-card fxFill>Simple card1</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card2</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card3</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card1</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card2</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card3</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card1</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card2</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card3</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card1</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card2</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card3</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card1</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card2</mat-card></mat-list-item>
  <mat-list-item role="listitem"><mat-card fxFill>Simple card3</mat-card></mat-list-item>
</mat-list>
</mat-grid-list>
