nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  //margin-bottom: -100%; //may need to adjust accordingly
}


nav a {
  width: 30%;
  //float: left;
  display: flex;
  //color: #f2f2f2;
  text-align: center;
  //padding: 14px 16px;
  //text-decoration: none;
  //font-size: 17px;
}

nav a:hover {
  //background: #f1f1f1;
  //color: black;
}

nav a.active {
  //background-color: #4CAF50;
  //color: white;
}

nav a.share {
  min-width: 48px;
  width: 48px;
  display: flex;
  text-align: center;
}
