mat-tab-group {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
  //margin-bottom: -100%; //may need to adjust accordingly
}

//.mat-tab-links {
//  display: table;
//  width: 100%;
//}

//.mat-tab-link {
//  display: table-cell;
//}
