<mat-grid-list cols="1" rowHeight='{{size.height }}'>
  <mat-card>
    <mat-card-title>分享码</mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-content class="share-content">
      <input matInput placeholder="Favorite food" value="https://" fxFill disabled>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="warn">复制</button>
      <!--<button class="btn btn-default" type="button" ngxClipboard [cbContent]="text" (cbOnSuccess)="successFun()">copy</button>-->
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <qrcode [qrdata]="qrcode" [size]="256" [level]="'M'"></qrcode>
    </mat-card-content>
  </mat-card>
</mat-grid-list>

